body{
	background: #000000 !important;
    font-family: "Noto Sans S Chinese", "Microsoft YaHei", sans-serif !important;
}
ul{
	padding: 0px;
	margin: 0px;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none !important;
	cursor: pointer;
}
.clear{
	clear: both;
}
h1,h2,h3,h4,h5,h6{
	font-size: 30px !important;
}
.lh-55{
	line-height: 55px;
}
.headerTitle,.headrMeun{
	min-width: 398px;
    position: absolute !important;
}
.headerTitle{
	left: 0;
}
.headrMeun{
	right: 0;
}
.mt-14{
	margin-top: 14px;
}
.mt-42{
	margin-top: 42px;
}
/*首页右上角样式*/
.divBox{
		float: right;
}
.meunLi{
	width: 50px;
    height: 50px;
    float: left;
    margin-right: 20px;
}
.color-white{
	color: white;
}
.titleTime{
    display: inline-block;
    padding: 19px;
}

/*左边菜单栏*/
.navigationBox{
	width: 10%;
    min-width: 160px;
    /*border: 1px solid yellow;*/
    position: absolute;
    z-index: 100;
    top: 15%;
    left: 3%;
}
.navigationBox ul li{
    
    border: 1px solid white;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}

ul li a.meun{
    display: block;
    line-height: 40px;
    height: 40px;
}
.alertSvg{
	width: 48px;
	float: left;
}
.navigationBox ul li ul.testul,.navigationBox ul.testul li .twoMeun2{
    margin: 0px;
    padding: 0px;
    clear: both;
}

.navigationBox ul li ul.testul,.navigationBox ul.testul li .twoMeun2:nth-child(1){
	/*border-top: 1px solid white;*/
}
.navigationBox ul.testul li{
	width: 100%;
}
.navigationBox ul li .active {
	background: url(../img/on.png) top right no-repeat;
	color: #4a76c1;
}

.navigationBox ul li .inactive {
	background:url(../img/off.png) top right no-repeat;
	display: block;
	line-height: 40px;
}
.navigationBox ul li ul {
	display:none; 
}
.navigationBox ul li ul li ul {
	margin-bottom:5px;
}
.navigationBox ul li ul li {
	display:block;
	background:none;
	font-size:12px;
	margin-bottom:0px;
	margin-top:0px;
	padding-top:0px;
	padding-bottom:0px;
}
.navigationBox ul li ul li ul.twoMeuns2 li{
	border: 1px solid white;
}
/*.navigationBox ul li ul li .four_ul li a {
	border: none !important;
}*/
.navigationBox ul li ul li ul.twoMeun2 ul.four_ul li{
	border: none;
}
.navigationBox ul li ul li ul.twoMeun2 ul.four_ul li:nth-child(1){
	border-top: 1px solid white;
}
.navigationBox ul li ul li a {
	background:none;
	font-size:12px;
	height:40px;
	color:white;
	padding-left:0px;
	line-height: 40px; 
	/*border: 1px solid white;*/
}

/*地图*/
.indexMap{
	display: flex;
	/*background: black;*/
	justify-content: center;
	align-items: center;
}

/* 右边健康度和交易量*/
.home_dashboard,.trans_count_div {
	min-width: 170px !important;
}
.home_dashboard {
    position: fixed;
    right: 3%;
    width: 10%;
    top: 15%;
}
.health_div{
	font-size: 14px;
    width: 77%;
    margin: 10px auto;
    text-align: left;
}
.health_div:hover{
	color: white;
}
.indexHealth {
    position: relative;
    padding: 10px;
    border-radius: 5px;
    min-width: 170px;
    color: #B0ECFD;
    font-size: 14px;
}
.health_a_div {
    text-align: center;
}
.hp-health {
    font-size: 16px;
    font-weight: bold;
}
.hp-number {
    font-size: 30px;
    margin-left: 20px;
}
.trans_count_div{
	top: 10px;
}
.bg{
	background: #31548c;
}
.health_div .table,.trans_count_div .table{
	width: 100%;
	margin-bottom: 0px;
}
.trans_count_div .table tr td{
	width: 21%;
	overflow: hidden;
	letter-spacing: normal;
	padding-bottom: 5px;
}
.table > tr > td:nth-child(even) {
	text-align: right;
}
.table > tr:hover {
	color: white;
}
.table > tr > td > span:nth-child(even) {
	font-size: 10px;
	margin-left: 5px;
}
.all_to_hea{
	text-decoration: none;
    color: #B0ECFD;
    display: block;
}
/*.all_to_hea a{
	color: #B0ECFD;
}*/
.all_to_hea:hover{
	color: #429fdd;
}
.tvInfo{
	margin-top: 10px;
}
/*告警*/
/*.contfootAlert{
	position: absolute;
	top:80%;
}*/
.tableAlert{
	margin: 0 auto;
}
.tableAlert tr{
    float: left;
	margin-left: 20px;
}
.tableAlert tr td{
	border: 1px solid white;
	color: white;
	text-align: center;
	padding: 10px;
}
/*.navigationBox ul li .active:nth-child(1){
	background: red url(../img/on.png) top right no-repeat;
}*/
