select {
    border: solid 1px #000;
  
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;

    padding-right: 8px;
	padding-left: 8px;

}

select::-ms-expand { display: none; }

.index-form select{
	background-color: #303030;
	padding: 5 5;
	height: 27px;
	font: 15px/20px "Microsoft YaHei"; 
	//font-size: 60;
	color: #C3C8D1;
	
}
.index-form option{
	background-color: #303030;
	color: #C3C8D1;
	height: 50px;
	//font: 14px/20px "Microsoft YaHei"; 
	line-height: 20px;
	width:50px;
	border-bottom: 1px #303030 solid;
}

